//add button
.add-btn {
  background-clip: padding-box;
  background-color: $btn-color;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  cursor: pointer;
  font-size: $size-md;
  font-weight: 600;
  padding: 7px 10px 7px 10px;
  transition: all 250ms;
}

.add-btn:hover,
.add-btn:focus {
  background-color: $btn-focus-color;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.add-btn:hover {
  transform: translateY(-1px);
}

.add-btn:active {
  background-color: $btn-active-color;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

//settings buttons:
.settings-btn {
  background-color: #ffffff;
  border: 0;
  border-radius: $size-sm;
  padding: $size-sm $size-md;
  text-decoration: none #d1d5db solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.settings-btn:hover {
  background-color: rgb(249, 250, 251);
}

.settings-btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.settings-btn:focus-visible {
  box-shadow: none;
}
