// global variables: *colors
$form-color: #E1F3FD;
$item-color: #c3f5ec;
$btn-color: #fa6400;
$btn-focus-color:#fb8332;
$btn-active-color: #c85000;
$myGreen-color:  #0DBC81;
// global variables: *sizes
$size-sm: 8px;
$size-md: 14px;
$size-lg: 20px;
$size-xlg: 30px;



@import "./Components/TodoList.scss";

*{
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

// classes
.flex-center {
  display: flex;
  align-items: center;
}

.card {
  width: 90%;
  padding: $size-md;
  margin: $size-sm auto;
  border-radius: $size-md;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 10px 0px;
}

  .margin-sm {
   margin: $size-sm;
 }

