// global variables: *colors
$base-color: #E1F3FD;
$btn-color: #fa6400;
$btn-focus-color:#fb8332;
$btn-active-color: #c85000;
// global variables: *sizes
$size-sm: 8px;
$size-md: 14px;
$size-lg: 20px;
$size-xlg: 30px;



@import "./Components/TodoList.scss";

*{
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

// classes
.flex-center {
  display: flex;
  align-items: center;
}

.margin-top-lg {
 margin-top: $size-lg;
}

.margin-right-sm {
  margin-right: $size-sm;
}

.margin-right-md {
  margin-right: $size-lg;
}

.margin-right-lg {
  margin-right: $size-xlg;
}

.my-fav-icons{
  color: #0DBC81;
  font-size: $size-md;
}

